name: Build

on:
  push:
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 22
  NEXT_TELEMETRY_DISABLED: 1

jobs:
  client:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build client
        run: npm run build

  backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go mod download

      - name: Create phony certificate
        run: |
          mkdir -p certs
          echo "" > certs/webauthn.local-key.pem
          echo "" > certs/webauthn.local.pem

      - name: Build backend
        run: go build .
